# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\django\day83\BBS_4_19\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
